@model smart_dorms.Models.Camera
@using smart_dorms.Models;
@using smart_dorms.Utils;



@{
    ViewData["Title"] = "UseriList";
}


<head>
    <link href='https://fonts.googleapis.com/css?family=Muli' rel='stylesheet'>
    <link rel="stylesheet" href="/css/camin.css" />
    <style>
        html {
            font-family: 'Muli';
            background-image: url("~/images/bubble.jpg");
        }

        body {
            
        }

        table {
            width: 85%;
            border-radius: 10px;
        }

        th {
            color: #ffffff;
            background-color: #a2d2ff;
            font-weight: unset !important;
            padding-top: 5px;
            padding-bottom: 5px;
            font-size: 1.3vw;
            text-transform: uppercase;
            letter-spacing: 0.03em;
            padding-left: 10px;
        }

        tr:hover {
            background-color: #ececff;
        }

        td {
            font-size: 18px;
            color: #666666;
            line-height: 1;
            font-size: 1.1vw;
            padding-top: 10px;
            padding-bottom: 10px;
            padding-left: 10px;
            padding-right: 10px;
        }

        tr {
            display: flex;
            justify-content: space-between;
            margin-bottom: 25px;
            background-color: #ffffff;
            box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.1);
            border-radius: 10px;
        }

        .first, .first-header {
            width: 25%;
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
        }

        .second, .second-header {
            width: 50%;
        }

        .third, .third-header {
            width: 25%;
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
        }


        @@media all and (max-width: 967px) {
            table {
                width: 500px;
            }
        }

        @@media all and (max-width: 400px) {
            table {
                width: 200px;
            }
        }
    </style>
</head>

<div>
    <h1>Locatari</h1>
    <div class="home-feature-card01">
        <table>
            <thead>
                <tr class="tr_head">
                    <th class="first-header">
                        Id utilizator
                    </th>
                    <th class="second-header">
                        Email
                    </th>
                    <th class="third-header">
                        Rol
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (Useri u in (List<Useri>)ViewData[Constants.UseriListKey])
                {
                    <tr>
                        <td class="first">
                            @Html.DisplayFor(modelItem => u.Id)
                        </td>
                        <td class="second">
                            @Html.DisplayFor(modelItem => u.IdDateUserNavigation.Email)
                        </td>
                        <td class="third">
                            @Html.DisplayFor(modelItem => u.IdRolNavigation.Nume)
                        </td>

                    </tr>
                }
            </tbody>
        </table>

    </div>
</div>
        <p>
            <a asp-action="Details" asp-route-id="@Model.Id">Inapoi la detalii</a>
        </p>
    

